<header>
    <h1 class="text-center">Experiment Completed</h1>
</header>
<div id="completed-message" class="text-center">
    <p>{{completion_message}}</p>
    {{#if show_survey_link}}
        <a type="button" id="completed" class="btn btn-success btn-lg center-block text-center" href="{{survey_link}}" target="_blank">Go To Survey</a>
    {{/if}}
</div>
