<div class="col-xs-3" id="home-side-menu-container">
    <ul class="list-group" id="home-side-menu"></ul>
</div>
<div class="col-xs-9" id="product-image-slider-container">
    <div id="product-image-slider" class="carousel slider" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#product-image-slider" data-slide-to="0" class="active"></li>
            <li data-target="#product-image-slider" data-slide-to="1"></li>
            <li data-target="#product-image-slider" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{front_image_1}}"/>
            </div>
            <div class="item">
                <img src="{{front_image_2}}"/>
            </div>
            <div class="item">
                <img src="{{front_image_3}}"/>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#product-image-slider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#product-image-slider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
