<header>
    <h1 class="text-center">Shopping Cart</h1>
</header>
<div id="products" class="col-xs-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr class="success">
                <td><strong>Cart Total</strong></td>
                <td><strong>${{total_price}}</strong></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <button type="button" class="btn btn-large btn-success center-block text-center" id="checkout">Check Out</button>
</div>
