<%
   @pagetitle = 'Welcome to the E-Commerce Experiment System'
%>

<div class="jumbotron">
  <header id="page-title">
    <h1 class="text-center">Welcome to the E-Commerce Testing Platform</h1>
  </header>
  <section id="content">
    <div class="col-sm-4 col-sm-offset-4 text-center">
      <h4>Please submit your participation ID:</h4>
      <%= form_for @participant, url: {action: "create", controller: "sessions"} do |f| %>
          <%= f.label :participation_id, "Participant ID" %>
          <%= f.text_field :participation_id, class: "form-control" %>
          <br/>
          <%= f.submit "Register", class: "btn btn-primary btn-large" %>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </section>
</div>