<div class="jumbotron">
  <header id="page-title">
    <h1 class="text-center">Welcome to the E-Commerce Testing Platform</h1>
  </header>
  <section id="content">
    <div class="col-sm-4 col-sm-offset-4 text-center">
      <h4>Participant <%= session[:participation_id] %>, Please select the experiment you would list to enroll in:</h4>
      <%= form_tag assign_experiment_group_path, method: :post do  %>
          <div class="form-group">
            <%= label_tag :experiment_id, "Experiment" %>
            <%= select_tag :experiment_id, options_from_collection_for_select(@experiments, :id, :name) {}, {class: 'form-control'} %>
          </div>

          <%= submit_tag "Enroll", class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </section>
</div>