<div class="col-xs-6 col-sm-4">
  <div class="thumbnail">
    <%= image_tag product_image.filename.url, class: 'img-responsive' %>
    <div class="caption">
      <% if main_image != product_image.id %>
          <%= link_to "Make Main Image", admin_make_main_image_path(product_image.product_id, product_image.id), class: "btn btn-primary" %><br/><br/>
      <% end %>
      <%= link_to "Change Image", edit_admin_product_product_image_path(product_image.product_id, product_image), class: "btn btn-warning" %><br/><br/>
      <%= link_to "Delete Image", admin_product_product_image_path(product_image.product_id, product_image), method: :delete, class: "btn btn-danger", data: {confirm: 'Are you sure you want to delete this image'} %>
    </div>
  </div>
</div>