<%
   @pagetitle = "Change Image"
   @page_class = 'categories edit'
%>

<h1 class="text-center">Edit Product Image</h1>

<%= render partial: 'layouts/messages' %>

<div class="well well-lg">
  <h3>Current Photo</h3>
  <%= image_tag @product_image.filename.url, width: 250 %>

  <%= form_for @product_image, url: admin_product_product_image_path(@product_image.product, @product_image), method: :patch do |f| %>

      <div class="form-group">
        <%= f.label :filename, "Image File" %>
        <%= f.file_field :filename, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.check_box :resize %>
        <%= f.label :resize, "Automatically Resize Image?" %>
      </div>

      <%= f.submit "Upload New Photo", class: "btn btn-primary" %>
  <% end %>
</div>