<%
   @pagetitle = "Add Image"
   @page_class = 'categories index'
%>

<h1 class="text-center">Add New Product Image for <%= @product.title %></h1>

<%= render partial: 'layouts/messages' %>

<div class="well well-lg">
    <%= form_for @product_image, url: admin_product_product_images_path(@product), method: :post do |f| %>
      <%= f.hidden_field :product_id, value: @product.id %>

      <div class="form-group">
        <%= f.label :filename, "Image File" %>
        <%= f.file_field :filename, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.check_box :resize %>
        <%= f.label :resize, "Automatically Resize Image?" %>
      </div>

      <%= f.submit "Upload Photo", class: "btn btn-primary" %>
    <% end %>
</div>