<div class="row" id="top-bar">
    <div id="cart-left" class="cart-icon col-xs-5 invisible">
        <i class="icon-basket basket-link"></i>
        <label class="basket-link">View Cart</label>
    </div>
    <div id="logo" class="col-xs-2 text-center center-block">
        <img src="{{logo_filename}}" alt="Logo" class="img-responsive"/>
    </div>
    <div id="cart-right" class="cart-icon col-xs-5 invisible text-right">
        <i class="icon-basket basket-link"></i>
        <label class="basket-link">View Cart</label>
    </div>
    <div class="clearfix"></div>
</div>
<div class="row navbar-default navbar" id="main-menu" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav" id="menu-container"></ul>
    </div>
</div>
<div class="row" id="content-container">

</div>
<div class="row" id="slogan">
    <div class="col-xs-12 text-center well">
        <strong>{{slogan}}</strong>
    </div>
</div>
