<div class="jumbotron">
    <header id="page-title">
        <h1 class="text-center">Welcome to the E-Commerce Testing Platform</h1>
    </header>
    <section id="content-container">

    </section>
    <section id="loading-container" class="text-center">
        <img src="https://s3.amazonaws.com/eces-production/images/loading.gif" alt="Loading"/>
    </section>
</div>
<footer id="page-footer">
    <p class="text-center">&copy; ECES</p>
</footer>