<% @fontcolor = @experiment_settings.font_color || 'inherit' %>

<% if @experiment_settings.background_type == 'image' %>
    <% @background = "url(#{@experiment_settings.background_image.url}" %>
<% else %>
    <% @background = "#{@experiment_settings.background_color}" %>
<% end %>

<div class="row">
  <!-- Shopping Cart Position Left -->
  <% if @experiment_settings.cart_position == 'topleft' %>
      <div class="col-sm-1" id="shopping-cart">
        <a href="#/shopping-cart" class="pull-left text-center"><span class='glyphicon glyphicon-shopping-cart'></span><br/>View Cart</a>
      </div>
  <% end %>

  <!-- Logo File -->
  <div class="<% if @experiment_settings.cart_position == 'topleft' %> col-sm-offset-3 <% else %> col-sm-offset-4 <% end %> col-sm-4 text-center" id="logo">
    <%= image_tag "#{@experiment_settings.logo_filename}", class: 'img-responsive' %>
  </div>

  <!-- Shopping Cart Position Right -->
  <% if @experiment_settings.cart_position == 'topright' %>
      <div class="col-sm-4" id="shopping-cart">
        <a href="#/shopping-cart" class="pull-right text-center"><span class='glyphicon glyphicon-shopping-cart'></span><br/>View Cart</a>
      </div>
  <% end %>
  <div class="clearfix"></div>
</div>

<!-- Top Menu with Categories -->
<div class="row">
  <nav class="navbar navbar-default" id="category-menu" role="navigation">
    <div class="container">
      <div>
        <!-- Categories Assigned to Experiment Group -->
        <ul class="nav navbar-nav text-center center-block">
          <%= render partial: "experiment/category", collection: @experiment_settings.categories %>
        </ul>
      </div>
    </div>
  </nav>
</div>


<div id="page">

</div>



<div id="slogan-row" class="row">
  <div class="col-md-12">
    <div class="well text-center">
      <strong><%= @experiment_settings.slogan %></strong>
    </div>
  </div>
</div>

<!-- Bootstrapping Procedures -->
<script>
  var experiment_group_bootstrap = <%= @experiment_settings.to_json.html_safe %>;
  var experiment_bootstrap = <%= @experiment.to_json.html_safe %>
</script>


<!-- Home Page Template -->
<script id="home-template" type="x-tmpl-mustache">
  <div class="col-sm-3" id="side-menu">
    <div class="list-group">
      {{#attributes.categories}}
        <a href="#/category/{{id}}" class="list-group-item side-menu-category">{{name}}</a>
      {{/attributes.categories}}
    </div>
  </div>

  <div class="col-sm-9 text-center">
    <div id="front-page-image-slider" class="carousel slide center-block" data-ride="carousel">
      <!-- Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#front-page-image-slider" data-slide-to="0" class="active"></li>
        <li data-target="#front-page-image-slider" data-slide-to="1"></li>
        <li data-target="#front-page-image-slider" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for Slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="{{attributes.front_image_1.url}}"/>
        </div>
        <div class="item">
          <img src="{{attributes.front_image_2.url}}"/>
        </div>
        <div class="item">
          <img src="{{attributes.front_image_3.url}}"/>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#front-page-image-slider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#front-page-image-slider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</script>

<script id="product-template" type="x-tmpl-mustache">
        <div class="thumbnail">
          <div class="caption top">
            <h4 class="pull-left price">${{attributes.price}}</h4>
            <h4 class="pull-right price">${{attributes.price}}</h4>
            <button class="btn btn-primary btn-large pull-left add-to-cart">Add to Cart</button>
            <button class="btn btn-primary btn-large pull-right add-to-cart">Add to Cart</button>
            <div class="clearfix"></div>
          </div>
          <img src="{{attributes.main_image_url}}" alt=""/>
          <div class="caption bottom">
            <h4><a href="#/product/{{attributes.id}}" class="product-title">{{attributes.title}}</a></h4>
            <p class="description">{{attributes.description}}</p>
            <h4 class="pull-left price">${{attributes.price}}</h4>
            <h4 class="pull-right price">${{attributes.price}}</h4>
            <button class="btn btn-primary btn-large pull-left add-to-cart">Add to Cart</button>
            <button class="btn btn-primary btn-large pull-right add-to-cart">Add to Cart</button>
            <div class="clearfix"></div>
          </div>
        </div>
</script>

<script id="product-without-link-template" type="x-tmpl-mustache">
        <div class="thumbnail">
          <div class="caption top">
            <h4 class="pull-left price">${{attributes.price}}</h4>
            <h4 class="pull-right price">${{attributes.price}}</h4>
            <button class="btn btn-primary btn-large pull-left add-to-cart">Add to Cart</button>
            <button class="btn btn-primary btn-large pull-right add-to-cart">Add to Cart</button>
            <div class="clearfix"></div>
          </div>
          <img src="{{attributes.main_image_url}}" alt=""/>
          <div class="caption bottom">
            <h4>{{attributes.title}}</h4>
            <p class="description">{{attributes.description}}</p>
            <h4 class="pull-left price">${{attributes.price}}</h4>
            <h4 class="pull-right price">${{attributes.price}}</h4>
            <button class="btn btn-primary btn-large pull-left add-to-cart">Add to Cart</button>
            <button class="btn btn-primary btn-large pull-right add-to-cart">Add to Cart</button>
            <div class="clearfix"></div>
          </div>
        </div>
</script>

<script id="product-detail-template" type="x-tmpl-mustache">
  <div class="col-sm-3" id="return-menu">
    <div class="list-group">
      <a href="#/category/{{attributes.category_id}}" class="list-group-item" id="back-to-category" data-category="{{attributes.category_id}}">Back to Product List</a>
      <a href="#/home" class="list-group-item" id="back-to-home">Back to Home Page</a>
    </div>
  </div>
  <div class="col-sm-9" id="product-detail">
    <div class="thumbnail center-block">
      <div class="caption-full top">
        <h4 class="pull-left price">{{attributes.price}}</h4>
        <h4 class="pull-right price">{{attributes.price}}</h4>
        <button class="btn btn-primary btn-large pull-left add-to-cart">Add to Cart</button>
        <button class="btn btn-primary btn-large pull-right add-to-cart">Add to Cart</button>
        <div class="clearfix"></div>
      </div>
      <img class="img-responsive" src="{{attributes.main_image_url}}" alt=""/>
      <div class="caption-full bottom">
        <h4>{{attributes.name}}</h4>
        <p>{{attributes.description}}</p>
        <h4 class="pull-left price">{{attributes.price}}</h4>
        <h4 class="pull-right price">{{attributes.price}}</h4>
        <button class="btn btn-primary btn-large pull-left add-to-cart">Add to Cart</button>
        <button class="btn btn-primary btn-large pull-right add-to-cart">Add to Cart</button>
        <div class="clearfix"></div>
      </div>
    </div>
    <br/>
    <div class="row center-block" id="product-images">
    {{#attributes.product_images}}
      <div class="col-sm-6">
        <div class="thumbnail">
          <img src="{{filename.url}}" alt="" />
        </div>
      </div>
    {{/attributes.product_images}}
    </div>
  </div>
  <div class="clearfix"></div>
</script>

<script id="shopping-cart-template" type="x-tmpl-mustache">
  <div id="shopping-cart-page" class="center-block">
    <div class="page-title">
      <h1 class="text-center">Shopping Cart</h1>
    </div>
    <section id="cart" class="col-md-12">
      <table class="table table-striped">
        <thead>
            <tr>
              <th>Title</th>
              <th>Price</th>
              <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <div class="center-block text-center">
        <a href="#/checkout" class="btn btn-danger btn-large checkout" id="checkout-button">Proceed to Checkout</a>
      </div>
    </section>
  </div>
</script>

<script id="shopping-cart-item-template" type="x-tmpl-mustache">
      <td>{{attributes.title}}</td>
      <td>{{attributes.price}}</td>
      <td><button class="btn btn-danger remove-item-from-cart">Remove From Cart</button></td>
</script>

<script id="checkout-with-survey-link-template" type="x-tmpl-mustache">
       <h3 class="text-center">The experiment has ended. Please proceed to the survey, by clicking the link below</h3>
       <a target="_blank" href="{{attributes.survey_link}}" class="center-block btn btn-large btn-primary">Go To Survey</a>
</script>

<script id="checkout-without-survey-link-template" type="x-tmpl-mustache">
       <h3 class="text-center">The experiment has ended. Please click below to exit the system.</h3>
       <%= link_to "Close", end_participation_path, class: "center-block btn btn-large btn-primary" %>
</script>