<div class="thumbnail">
    {{! Caption Container Above Image}}
    <div class="caption top-caption">
    {{! Price Top Left}}
        <h4 class="pull-left price hidden">
            ${{price}}
        </h4>
    {{! Price Top Right}}
        <h4 class="pull-right price hidden">
            ${{price}}
        </h4>
    {{! If Product is In Stock}}
    {{#if in_stock}}
    {{! Add & Remove to Basket Top Left }}
        <div class="pull-left basket hidden">
            {{#if in_cart}}
                <button type="button" class="btn btn-danger remove-from-basket-button">Remove from Cart</button>
            {{else}}
                <button type="button" class="btn btn-primary add-to-basket-button">Add to Cart</button>
            {{/if}}
        </div>
    {{! Add & Remove to Basket Top Right}}
        <div class="pull-right basket hidden">
            {{#if in_cart}}
                <button type="button" class="btn btn-danger remove-from-basket-button">Remove from Cart</button>
            {{else}}
                <button type="button" class="btn btn-primary add-to-basket-button">Add to Cart</button>
            {{/if}}
        </div>
        <div class="clearfix"></div>
    {{/if}}
    </div>
    {{! Image }}
    <img src="{{main_image}}" alt="{{title}} Image"/>
    {{! Caption Container Below Image}}
    <div class="caption bottom-caption">
        {{! Product Title }}
        <header>
            {{#if detail_page}}
                <h4><a href="/{{category_slug}}/{{slug}}" class="product-title">{{title}}</a></h4>
            {{else}}
                <h4>{{title}}</h4>
            {{/if}}
        </header>
        <p class="description">{{description}}</p>
        {{! Price Bottom Left}}
        <h4 class="pull-left price hidden">
            ${{price}}
        </h4>
        {{! Price Bottom Right}}
        <h4 class="pull-right price hidden">
            ${{price}}
        </h4>
        {{! If Product is In Stock}}
        {{#if in_stock}}
            {{! Add & Remove to Basket Bottom Left }}
            <div class="pull-left basket hidden">
                {{#if in_cart}}
                    <button type="button" class="btn btn-danger remove-from-basket-button">Remove from Cart</button>
                {{else}}
                    <button type="button" class="btn btn-primary add-to-basket-button">Add to Cart</button>
                {{/if}}
            </div>
            {{! Add & Remove to Basket Bottom Right}}
            <div class="pull-right basket hidden">
                {{#if in_cart}}
                    <button type="button" class="btn btn-danger remove-from-basket-button">Remove from Cart</button>
                {{else}}
                    <button type="button" class="btn btn-primary add-to-basket-button">Add to Cart</button>
                {{/if}}
            </div>
        {{/if}}
        <div class="clearfix"></div>
    </div>
</div>
