<% if experiment.available
     available = 'Yes'
   else
     available = 'No'
   end
%>

<tr>
  <td><%= experiment.name %></td>
  <td><%= experiment.experiment_groups.size %></td>
  <td><%= available %></td>
  <td><%= link_to "View", admin_experiment_path(experiment), class: "btn btn-primary" %></td>
</tr>