<h1 class="text-center">List of Experiments</h1>
<table class="table">
  <thead>
    <tr>
      <th>Experiment Name</th>
      <th>Experimental Groups</th>
      <th>Available?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @experiments %>
  </tbody>
</table>