<%
   @pagetitle = 'Create New Experiment'
   @page_class = 'experiments new'
%>

<h1 class="text-center">Create New Experiment</h1>

<%= render partial: 'layouts/messages' %>

<div class="well well-lg">
    <%= form_for [:admin, @experiment] do |f| %>
        <div class="form-group">
          <%= f.label :name, "Experiment Name" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.check_box :available %>
          <%= f.label :available, "Available" %>
        </div>

        <div class="form-group">
            <%= f.label :completion_message, "Completion Message" %>
            <%= f.text_field :completion_message, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.check_box :show_survey_link %>
          <%= f.label :show_survey_link, "Show Survey Link" %>
        </div>

        <div class="form-group">
          <%= f.label :survey_link, "Survey Link" %>
          <%= f.text_field :survey_link, class: "form-control" %>
        </div>

        <%= f.submit "Add Experiment", class: 'btn btn-primary' %>
    <% end %>
</div>
