<%
   @pagetitle = "Experiment: #{@experiment.name}"
   @page_class = 'experiments show'
%>

<h1 class="text-center">Experiment: <%= @experiment.name %></h1>

<%= render partial: 'layouts/messages' %>

<%= link_to "Edit Experiment", edit_admin_experiment_path(@experiment), class: "btn btn-primary" %>
<%= link_to "Delete Experiment", admin_experiment_path(@experiment), method: :delete, class: "btn btn-danger" %>
<!-- Availability Buttons -->
<% if @experiment.available %>
    <%= link_to "Make Experiment Unavailable", admin_make_experiment_unavailable_path(@experiment), method: :put, class: "btn btn-warning" %>
<% else %>
    <%= link_to "Make Experiment Available", admin_make_experiment_available_path(@experiment), method: :put, class: "btn btn-warning" %>
<% end %>
<div class="well well-lg">
  <h4><u>Available to Subjects:</u></h4>
  <p><%= @experiment.available ? 'Yes' : 'No' %></p>
  <h4><u>Completion Message:</u></h4>
  <p><%= @experiment.completion_message %></p>
  <h4><u>Show Survey Link:</u></h4>
  <p><%= @experiment.show_survey_link ? 'Yes' : 'No' %></p>
  <h4><u>Survey Link</u></h4>
  <p><%= link_to @experiment.survey_link, @experiment.survey_link %></p>
  <% if @experiment.experiment_groups.count > 0 %>
    <h4><u>Experimental Groups</u></h4>
      <table class="table table-striped">
        <thead>
            <th>Group No</th>
            <th></th>
        </thead>
        <tbody>
            <% @experiment.experiment_groups.each do |group| %>
                <tr>
                  <td><%= group.group_no %></td>
                  <td>
                    <div class='btn-group'>
                      <button type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                        Options <span class='caret'></span>
                      </button>
                      <ul class='dropdown-menu'>
                        <li><%= link_to "View", admin_experiment_experiment_group_path(@experiment, group) %></li>
                        <li role='separator' class='divider'></li>
                        <li><%= link_to "Edit", edit_admin_experiment_experiment_group_path(@experiment, group) %></li>
                        <li><%= link_to "Delete", admin_experiment_experiment_group_path(@experiment, group), method: :delete, data: {confirm: 'Are you sure you want to delete this experiment group?'} %></li>
                      </ul>
                    </div>
                  </td>
                </tr>
            <% end %>
        </tbody>
      </table>
  <% end %>
</div>
<!-- Add Experimental Group -->
<%= link_to "Add Experimental Group", new_admin_experiment_experiment_group_path(@experiment), class: "btn btn-primary" %>
