<td>{{name}}</td>
<td>
    <input type="text" value="{{order_no}}" class="form-control category-order-input"/>
    <input type="hidden" class="experiment-group-id" value="{{experiment_group_category_id}}"/>
</td>
<td><button type="button" class="btn btn-primary btn-sm hidden save">Save</button></td>
