<h1 class="text-center">Add Experimental Group To Experiment: <%= @experiment_group.experiment.name %></h1>
<%= form_for [:admin, @experiment_group] do |f| %>
    <%= f.hidden_field :experiment_id %>

    <%= f.label :group_no, 'Experimental Group Number' %>
    <%= f.text_field :group_no, class: 'form-control', readonly: true %>

    <%= f.label :slogan, "Website Slogan" %>
    <%= f.text_field :slogan, class: 'form-control' %>

    <div class="checkbox">
      <%= f.check_box :step_by_step %> Step by step progression through categories required?
    </div>
    <br/>
    <%= f.label :products_per_page, "Number of Products Displayed Per Page" %>
    <%= f.number_field :products_per_page, class: "form-control" %>

    <%= f.label :price_location, "Location of Price" %>
    <%= f.select :price_location, options_for_select([['Above Left','aboveleft'], ['Below Left', 'belowleft'], ['Above Right','aboveright'], ['Below Right', 'belowright']]), {}, { class: "form-control" } %>

    <%= f.label :add_to_basket_location, "Location of Add to Basket" %>
    <%= f.select :add_to_basket_location, options_for_select([['Above Left','aboveleft'], ['Below Left', 'belowleft'], ['Above Right','aboveright'], ['Below Right', 'belowright']]), {}, { class: "form-control" } %>

    <%= f.label :cart_position, "Shopping Cart Position" %>
    <%= f.select :cart_position, options_for_select([['Top Left','topleft'], ['Top Right', 'topright']]), {}, { class: "form-control" } %>


    <div class="checkbox">
      <%= f.check_box :detail_page %> Detailed Product Page Enabled?
    </div>

    <%= f.label :basket_order, "Basket Ordering" %>
    <%= f.select :basket_order, options_for_select([['Ascending','Ascending'], ['Descending','Descending']]), {}, { class: "form-control" } %>

    <%= f.label :category_selection_limit, "Category Selection Limit" %>
    <%= f.number_field :category_selection_limit, class: "form-control", min: 0, step: 1.0 %>

    <div class="checkbox">
      <%= f.check_box :out_of_stock %> Out of Stock Function Enabled?
    </div>

    <div class="checkbox">
      <%= f.check_box :out_of_stock_per_category %> Out of Stock Function Applied Per Category?
    </div>

    <%= f.label :out_of_stock_message, "Out of Stock Message To Display" %>
    <%= f.text_field :out_of_stock_message, class: 'form-control' %>

    <div class="checkbox">
      <%= f.check_box :randomization_of_products %> Product Randomization of Display Enabled?
    </div>

    <div class="checkbox">
      <%= f.check_box :show_survey_link %> Show Survey Link?
    </div>

    <%= f.label :background_type, "Background Type" %>
    <%= f.select :background_type, options_for_select([['Image', 'Image'], ['Color','Color']]), {}, { class: "form-control" } %>

    <%= f.label :background_color, "Background Color" %>
    <%= f.text_field :background_color, class: "form-control color-picker" %>

    <%= f.label :background_image, "Background Image" %>
    <%= f.file_field :background_image, class: "form-control"  %>

    <%= f.label :logo_filename, "Logo File" %>
    <%= f.file_field :logo_filename, class: "form-control" %>
    <h4>Front Page Images</h4>
    <%= f.label :front_image_1, "Front Image No. 1" %>
    <%= f.file_field :front_image_1, class: "form-control" %>

    <%= f.label :front_image_2, "Front Image No. 2" %>
    <%= f.file_field :front_image_2, class: "form-control" %>

    <%= f.label :front_image_3, "Front Image No. 3" %>
    <%= f.file_field :front_image_3, class: "form-control" %>
    <br/>
    <%= f.submit "Add", class: "btn btn-large btn-primary" %>
<% end %>