<%
   @pagetitle = "Edit Experiment Group No. #{@experiment_group.group_no} for Experiment: #{@experiment_group.experiment.name}"
   @page_class = 'experiment-groups edit'
%>

<h1 class="text-center">Edit Experiment Group No <%= @experiment_group.group_no %> for Experiment: <%= @experiment_group.experiment.name %></h1>

<%= render partial: 'layouts/messages' %>

<div class="well well-lg">
  <%= form_for @experiment_group, url: admin_experiment_experiment_group_path(@experiment_group.experiment, @experiment_group), method: :patch do |f| %>
      <div class="form-group">
        <%= f.label :slogan, "Website Slogan" %>
        <%= f.text_field :slogan, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.check_box :step_by_step %>
        <%= f.label :step_by_step, "Step By Step Progression Through Categories Required?" %>
      </div>

      <div class="form-group">
        <%= f.label :step_by_step_inappropriate_category_message %>
        <%= f.text_field :step_by_step_inappropriate_category_message, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :step_by_step_no_selection_message %>
        <%= f.text_field :step_by_step_no_selection_message, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :inappropriate_start_point_message %>
        <%= f.text_field :inappropriate_start_point_message, class: 'form-control' %>
      </div>

      <!-- TODO Number of Products per Page -->

      <div class="form-group">
        <%= f.label :price_location, "Location of Price" %>
        <%= f.select :price_location, options_for_select([['Above Left','aboveleft'], ['Below Left', 'belowleft'], ['Above Right','aboveright'], ['Below Right', 'belowright']], selected: @experiment_group.price_location), {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :add_to_basket_location, "Location of Add to Basket" %>
        <%= f.select :add_to_basket_location, options_for_select([['Above Left','aboveleft'], ['Below Left', 'belowleft'], ['Above Right','aboveright'], ['Below Right', 'belowright']], selected: @experiment_group.add_to_basket_location), {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :cart_position, "Shopping Cart Position" %>
        <%= f.select :cart_position, options_for_select([['Top Left','topleft'], ['Top Right', 'topright']], selected: @experiment_group.cart_position), {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.check_box :detail_page %>
        <%= f.label :detail_page, "Product Detail Page" %>
      </div>

      <div class="form-group">
        <%= f.label :basket_order, "Basket Ordering" %>
        <%= f.select :basket_order, options_for_select([['Ascending','Ascending'], ['Descending','Descending']], selected: @experiment_group.basket_order), {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.check_box :force_cart_removal %>
        <%= f.label :force_cart_removal, "Force Removal of Item From Cart" %>
      </div>

      <div class="form-group">
        <%= f.label :force_cart_removal_message %>
        <%= f.text_field :force_cart_removal_message, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :category_selection_limit, "Category Selection Limit" %>
        <%= f.number_field :category_selection_limit, class: "form-control", min: 0, step: 1.0 %>
      </div>

      <div class="form-group">
        <%= f.label :category_limit_message, "Category Selection Limit Message" %>
        <%= f.text_field :category_limit_message, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.check_box :out_of_stock %>
        <%= f.label :out_of_stock, "Out of Stock Function Enabled" %>
      </div>

      <div class="form-group">
        <%= f.check_box :out_of_stock_per_category %>
        <%= f.label :out_of_stock_per_category, "Out of Stock Function Applied PER CATEGORY" %>
      </div>

      <div class="form-group">
        <%= f.label :out_of_stock_message, "Out of Stock Message" %>
        <%= f.text_field :out_of_stock_message, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.check_box :randomization_of_products %>
        <%= f.label :randomization_of_products, "Product Randomization Enabled" %>
      </div>

      <div class="form-group">
        <%= f.label :background_type, "Background Type" %>
        <%= f.select :background_type, options_for_select([['Image', 'Image'], ['Color','Color']], selected: @experiment_group.background_type), {}, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :background_color, "Background Color" %>
        <%= f.text_field :background_color, class: "form-control color-picker" %>
      </div>

      <div class="form-group">
        <%= f.label :font_color %>
        <%= f.text_field :font_color, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :background_image, "Background Image" %>
        <%= image_tag(@experiment_group.background_image_url, width: 300, class: 'uploaded-image') if @experiment_group.background_image %>
        <%= f.file_field :background_image, class: "form-control"  %>
      </div>

      <div class="form-group">
        <%= f.label :logo_filename, "Logo File" %>
        <%= image_tag(@experiment_group.logo_filename_url, width: 300, class: 'uploaded-image') if @experiment_group.logo_filename %>
        <%= f.file_field :logo_filename, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :front_image_1, "Front Image No. 1" %>
        <%= image_tag(@experiment_group.front_image_1_url, width: 300, class: 'uploaded-image') if @experiment_group.front_image_1 %>
        <%= f.file_field :front_image_1, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :front_image_2, "Front Image No. 2" %>
        <%= image_tag(@experiment_group.front_image_2_url, width: 300, class: 'uploaded-image') if @experiment_group.front_image_2 %>
        <%= f.file_field :front_image_2, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :front_image_3, "Front Image No. 3" %>
        <%= image_tag(@experiment_group.front_image_3_url, width: 300, class: 'uploaded-image') if @experiment_group.front_image_3 %>
        <%= f.file_field :front_image_3, class: "form-control" %>
      </div>

      <%= f.submit "Save Changes to Group", class: 'btn btn-primary' %>
  <% end %>
</div>
