<% experiment = @experiment_groups.first.experiment %>

<%= link_to "Back to Experiment", admin_experiment_path(experiment.id), class: "btn btn-default center-block" %>
<h1 class="text-center">List of Experimental Groups for Experiment <%= experiment.name %></h1>
<table class="table half-width center-block">
  <thead>
    <tr>
        <th>Group No. </th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @experiment_groups %>
  </tbody>
</table>