<%
   @pagetitle = "Experiment Group No #{@experiment_group.group_no} for Experiment: #{@experiment_group.experiment.name}"
   @page_class = 'experiment-groups show'
%>

<%= link_to "Back to List of Groups", admin_experiment_path(@experiment_group.experiment), class: "btn btn-default text-center center-block" %>

<h1 class="text-center">Experiment Group No <%= @experiment_group.group_no %> for Experiment: <%= @experiment_group.experiment.name %></h1>

<%= render partial: 'layouts/messages' %>

<% if @experiment_group.step_by_step
     step_by_step = 'Yes'
   else
     step_by_step = 'No'
   end

   if @experiment_group.price_location == 'aboveleft'
     price_location = 'Above Left'
   elsif @experiment_group.price_location == 'aboveright'
     price_location = 'Above Right'
   elsif @experiment_group.price_location == 'belowright'
     price_location = 'Below Right'
   elsif @experiment_group.price_location == 'belowleft'
     price_location = 'Below Left'
   end

   if @experiment_group.add_to_basket_location == 'aboveleft'
     add_to_basket_location = 'Above Left'
   elsif @experiment_group.add_to_basket_location == 'aboveright'
     add_to_basket_location = 'Above Right'
   elsif @experiment_group.add_to_basket_location == 'belowright'
     add_to_basket_location = 'Below Right'
   elsif @experiment_group.add_to_basket_location == 'belowleft'
     add_to_basket_location = 'Below Left'
   end

   if @experiment_group.cart_position == 'topleft'
     cart_position = 'Top Left'
   elsif @experiment_group.cart_position == 'topright'
     cart_position = 'Top Right'
   end

   if @experiment_group.detail_page
     detail_page = 'Yes'
   else
     detail_page = 'No'
   end

   if @experiment_group.force_cart_removal
     force_cart_removal = 'Yes'
   else
     force_cart_removal = 'No'
   end

   if @experiment_group.category_selection_limit == 0
     category_selection_limit = 'None'
   else
     category_selection_limit = @experiment_group.category_selection_limit.to_s
   end

   if @experiment_group.out_of_stock
     out_of_stock = 'Yes'
   else
     out_of_stock = 'No'
   end

   if @experiment_group.out_of_stock_per_category
     out_of_stock_per_category = 'Yes'
   else
     out_of_stock_per_category = 'No'
   end

   if @experiment_group.randomization_of_products
     randomization_of_products = 'Yes'
   else
     randomization_of_products = 'No'
   end

%>

<div class="well well-lg">
    <div class="col-sm-6">
        <p id="slogan"><strong>Website Slogan: </strong><%= @experiment_group.slogan %></p>
        <p id="step-by-step"><strong>Step by Step Progression Required: </strong><%= step_by_step %></p>
        <!-- TODO Number of Products Per Page -->
        <p id="price-location"><strong>Price Location: </strong><%= price_location %></p>
        <p id="ask-to-basket-location"><strong>Add To Basket Location: </strong><%= add_to_basket_location %></p>
        <p id="cart-position"><strong>Cart Position: </strong><%= cart_position %></p>
        <p id="detail-page"><strong>Detail Page Enabled: </strong><%= detail_page %></p>
        <p id="basket-order"><strong>Checkout Basket Sort Order: </strong><%= @experiment_group.basket_order %></p>
        <p id="force-cart-removal"><strong>Force Cart Removal: </strong><%= force_cart_removal %></p>
        <p id="category-selection-limit"><strong>Category Selection Limit: </strong><%= category_selection_limit %></p>
        <p id="out-of-stock"><strong>Out of Stock Enabled: </strong><%= out_of_stock %></p>
        <% if @experiment_group.out_of_stock %>
          <p id="out-of-stock-per-category"><strong>Apply Out of Stock Function For Each Category: </strong><%= out_of_stock_per_category %></p>
        <% end %>
        <p id="out-of-stock-message"><strong>Out of Stock Message: </strong><%= @experiment_group.out_of_stock_message %></p>
        <p id="randomization-of-products"><strong>Randomization of Products: </strong><%= randomization_of_products %></p>
        <p id="background-type"><strong>Background Type: </strong><%= @experiment_group.background_type %></p>
        <p id="background-image"><strong>Background Image: </strong><%= link_to "#{@experiment_group.background_image.url}", @experiment_group.background_image.url %></p>
        <p id="background-color"><strong>Background Color: </strong><%= @experiment_group.background_color %></p>
        <p id="logo"><strong>Logo:</strong><br/><%= image_tag @experiment_group.logo_filename.url %></p>
        <br/>
        <hr/>
        <h4>Front Images</h4>
        <div class="col-sm-4">
          <%= image_tag "#{@experiment_group.front_image_1}", class: "img-responsive" %>
        </div>
        <div class="col-sm-4">
            <%= image_tag "#{@experiment_group.front_image_2}", class: "img-responsive" %>
        </div>
        <div class="col-sm-4">
            <%= image_tag "#{@experiment_group.front_image_3}", class: "img-responsive" %>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-sm-6">
      <% if @experiment_group.categories.size < @categories.size %>
          <div id="add-all-categories">
            <%= link_to "Add All Categories", admin_add_all_categories_path(@experiment_group), class: "btn btn-default center-block" %><br/>
          </div>
      <% end %>
      <% if @experiment_group.categories.size > 0 %>
          <div id="remove-all-categories">
            <%= link_to "Remove All Categories", admin_delete_all_categories_path(@experiment_group), class: "btn btn-default center-block" %><br/>
          </div>
      <% end %>
      <h2>Categories</h2>
      <% @categories.each do |category| %>
          <% if @experiment_group.categories.any? {|c| c.id == category.id } %>
              <%= link_to "Remove #{category.name}", admin_destroy_category_path(@experiment_group, category.id), class: 'btn btn-danger' %>
          <% else %>
              <%= link_to "Add #{category.name}", admin_add_category_path(@experiment_group, category.id), class: 'btn btn-primary' %>
          <% end %>
      <% end %>
      <% if @experiment_group.categories.size > 0 %>
          <h2>Category Order</h2>
          <table class="table table-striped" id="category-order-table">
              <thead>
                  <th>Category</th>
                  <th>Order Number</th>
                  <th></th>
              </thead>
              <tbody>
                <% @experiment_group.experiment_group_categories.each do |category| %>
                    <tr class="category-order">
                        <td class="category-name"><%= category.category.name %></td>
                        <td class="category-values">
                            <input type="text" value="<%= category.order_no %>" class="form-control category-order-input"/>
                            <input type="hidden" class="experiment-group-id" value="<%= category.id %>"/>
                        </td>
                        <td><button type="button" class="btn btn-primary btn-sm hidden save">Save</button></td>
                    </tr>
                <% end %>
              </tbody>
              <tfoot>
                  <tr>
                      <td><button type="button" class="btn btn-primary hidden" id="save-order-changes">Save Changes</button>
                  </tr>
              </tfoot>
          </table>
          <% end %>
        </div>
    <div class="clearfix"></div>
</div>

<%= link_to "Edit Group", edit_admin_experiment_experiment_group_path(@experiment_group.experiment, @experiment_group), class: "btn btn-primary" %>
<%= link_to "Delete Group", admin_experiment_experiment_group_path(@experiment_group.experiment, @experiment_group), method: :delete, class: "btn btn-danger", data: {confirm: 'Are you sure you would like to delete this experimental group?'} %>
