<%
    @pagetitle = 'Please login'
    @page_class = 'sessions login'
%>

<div class="jumbotron">
    <h1 class="text-center">E-Commerce Experiment System: Administration</h1>
    <div class="col-sm-4 col-sm-offset-4 text-center">
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <br/>

          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-large btn-primary" %>
          </div>
        <% end %>
    </div>
    <div class="clearfix"></div>
</div>
