<tr>
  <td><%= category.name %></td>
  <td>
    <div class='btn-group'>
      <button type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        Options <span class='caret'></span>
      </button>
      <ul class='dropdown-menu'>
        <li><%= link_to "Edit Category Name", edit_admin_category_url(category) %></li>
        <li><%= link_to "Delete Category", admin_category_path(category), method: :delete, data: {confirm: "Are you sure you want to delete this category?"} %></li>
        <li role='separator' class='divider'></li>
        <!-- TODO Add View Category Products -->
        <!-- TODO Add Product to Category -->
      </ul>
    </div>
  </td>
</tr>

