<h1>Edit Product Category</h1>
<%= form_for [:admin, @category] do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>

    <br/>

    <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>