<%
   @pagetitle = 'Product Categories'
   @page_class = 'categories index'
%>

<%= link_to "Add Category", new_admin_category_path, class: "btn btn-primary center-block text-center" %>


<h1 class="text-center">Product Categories</h1>

<%= render partial: 'layouts/messages' %>

<table class="table table-striped">
  <thead>
    <th>Category</th>
    <th></th>
  </thead>
  <tbody>
    <%= render @categories %>
  </tbody>
</table>
