<%
   @pagetitle = 'Create New Product Category'
   @page_class = 'categories new'
%>

<%= render partial: 'layouts/messages' %>


<div class="well well-lg">
    <h1 class="text-center">Add New Product Category</h1>
    <%= form_for [:admin, @category] do |f| %>
      <div class="form-group">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
</div>

