<tr>
  <td><%= category_product.title %></td>
  <td><%= humanized_money_with_symbol category_product.price %></td>
  <td>
    <div class='btn-group'>
      <button type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        Options <span class='caret'></span>
      </button>
      <ul class='dropdown-menu'>
        <li><%= link_to "View", admin_product_path(category_product) %></li>
        <li role='separator' class='divider'></li>
        <li><%= link_to "Edit", edit_admin_product_path(category_product) %></li>
        <li><%= link_to "Delete", admin_product_path(category_product), method: :delete, data: {confirm: 'Are you sure you want to delete this product?'} %></li>
      </ul>
    </div>
  </td>
</tr>