<%
   @pagetitle = 'All Products'
   @page_class = 'products index'
%>

<%= link_to "Add New Product", new_admin_product_path, class: "btn btn-primary text-center center-block" %>

<h1 class="text-center">All Products</h1>

<%= render partial: 'layouts/messages' %>

<table class="table table-striped">
  <thead>
    <th>Title</th>
    <th>Price</th>
    <th>Category</th>
    <th></th>
  </thead>
  <tbody>
    <%= render @products %>
</table>
