<%
   @pagetitle = "Products for #{@category.name}"
   @page_class = 'products index'
%>

<h1 class="text-center">Products for <%= @category.name %></h1>

<%= render partial: 'layouts/messages' %>

<table class="table table-striped">
  <thead>
  <th>Title</th>
  <th>Price</th>
  <th></th>
  </thead>
  <tbody>
  <%= render partial: 'admin/products/category_product', collection: @products %>
</table>
