<%
   @pagetitle = 'Product Categories'
   @page_class = 'categories index'
%>

<h1 class="text-center">Add New Product</h1>

<%= render partial: 'layouts/messages' %>

<div class="well well-lg">
    <%= form_for [:admin, @product] do |f| %>
      <div class="form-group">
        <%= f.label :title, "Display Title" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description, "Product Description" %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :price, "Price" %>
        <%= f.text_field :price, class: "form-control", data: { role: 'money', aSign: '$', wEmpty: 'sign' } %>
      </div>

      <div class="form-group">
        <%= f.label :category_id, "Category" %>
        <%= f.collection_select :category_id, Category.all, :id, :name, {}, { class: "form-control" } %>
      </div>

      <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
</div>