<h2 class="text-center">Please select a product category</h2>
<div class="center-block text-center">
  <% @categories.each do |category| %>
      <% if category.products.size > 0 %>
        <%= link_to "#{category.name}", admin_category_products_by_category_path(category), class: "btn btn-default btn-large" %>
      <% else %>
        <%= link_to "#{category.name}", "#", class: "btn btn-default btn-large" %>
      <% end %>
  <% end %>
</div>