<%
   @pagetitle = 'All Products'
   @page_class = 'products show'
%>

<%= link_to "Back to Product List", admin_products_path, class: "btn btn-default text-center center-block" %>

<h1 class="text-center"><%= @product.title %></h1>

<%= render partial: 'layouts/messages' %>

<%= link_to "Edit", edit_admin_product_path(@product), class: "btn btn-warning" %>
<%= link_to "Delete", admin_product_path(@product), method: :delete, class: "btn btn-danger", data: {confirm: 'Are you sure you want to delete this product?'} %>
<%= link_to "Add New Image", new_admin_product_product_image_path(@product), class: "btn btn-primary" %>

<div class="well well-lg">
  <h4><u>Category</u></h4>
  <p><%= @product.category.name %></p>
  <h4><u>Price</u></h4>
  <p><%= humanized_money_with_symbol @product.price %></p>
  <h4><u>Description</u></h4>
  <p><%= @product.description %></p>
  <h4><u>Images</u></h4>
  <div class="row">
    <%= render partial: 'admin/product_images/product_image', collection: @product.product_images, locals: {main_image: @product.main_product_image_id.nil? ? 0: @product.main_product_image_id} %>
    <div class="clearfix"></div>
  </div>
</div>
