<div class="col-sm-12 text-center">
    <h4>Your Participation ID has been recorded as <strong>{{participation_id}}</strong>. Please select the experiment you would like to enroll in:</h4>
</div>
<div class="col-sm-4 col-sm-offset-4 text-center">
    <select id="experiment" class="form-control" name="experiment">
        {{{collectionSelectList experiments}}}
    </select>
    <button type="button" id="select-experiment" class="btn btn-large btn-primary registration-button">Enroll</button>
</div>
<div class="clearfix"></div>