<div class="col-sm-4 col-sm-offset-4 text-center">
    <h4>Please submit your Participation ID: </h4>
    <input class="form-control" type="text" id="participation-id" placeholder="Participation ID"/>
    <button type="button" class="btn btn-primary btn-large registration-button" id="register">Register</button>
</div>
<div class="clearfix"></div>