<tr>
  <th><%= experiment.name %></th>
  <th>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Options <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'View Results', admin_experiment_results_home_index_path(experiment) %></li>
        <li><%= link_to 'Download Results', admin_experiment_results_home_index_path(experiment, format: :xlsx) %></li>
        <li><%= link_to 'Delete All Results', admin_experiment_results_home_destroy_path(experiment), method: :delete %></li>
      </ul>
    </div>
  </th>
</tr>
