<tr>
  <td><%= experiment_result.participant.participation_id %></td>
  <td><%= experiment_result.completion_time %></td>
  <td><%= link_to "View Purchases", admin_experiment_results_purchases_path(experiment_result.participant_id), class: "btn btn-primary" %></td>
  <td></td>
</tr>