<%= render partial: 'layouts/messages' %>
<h1 class="text-center">List of Experiments</h1>
<table class="table half-width center-block text-center">
  <thead>
  <tr>
    <th>Experiment</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: "admin/experiment_results/experiment", collection: @experiments %>
  </tbody>
</table>
