<%= link_to "Back to Experiments", admin_experiment_results_home_path, class: "btn btn-default center-block" %>
<h1 class="text-center">Experiment Results</h1>
<table class="table half-width center-block text-center">
  <thead>
  <tr>
    <th>Participation ID</th>
    <th>Time To Completion</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: "admin/experiment_results/experiment_result", collection: @experiment.experiment_results %>
  </tbody>
</table>