<h1 class="text-center">Participant Purchases</h1>
<table class="table half-width center-block text-center">
  <thead>
  <tr>
    <th>Product Title</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: "admin/experiment_results/purchase", collection: @purchases %>
  </tbody>
</table>