html, body {
  background: white;
  width: 100%;
  height: 100%;
  position: relative;

  &.background {
      height: unset;
  }
}

#app-frame {
  &.registration {
    height: 100%;
    position: relative;

    #loading-container {
      display: none;
    }

    #page-footer {
      background:  grey;
      color: black;
      font-weight: 600;
      margin: 15px 0 0;
      padding: 25px 0;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  &.experiment {
      #slogan {
          margin-top: 15px;
          color: black;
      }

      #inner-content-container {
        margin: 0 auto;
        max-width: 1300px;
      }
  }
  &.modal-bg {
    opacity: 0.1;
    z-index: 99;
  }
}

.modal-frame {
  background: transparent;
  display: none;
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
