.shopping-cart {
    header {
        background: white;
        color: black;
        padding: 10px 0;
    }
    
    #products {
        background: white;
        color: black;

        #checkout {
            width: 100%;
            margin-bottom: 15px;
        }
    }
}
