// Place all the styles related to the experiment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#shopping-cart {
  margin-top: 25px;
}

.glyphicon-shopping-cart {
  vertical-align: middle;
  font-size: 2.5em;
}

#logo {
  height: 100px;
  margin-top: 10px;

  img {
    max-height: 100%;
    margin: 0 auto;
  }
}

#category-menu {
  margin-top: 10px;
}

#front-page-image-slider {
  max-width: 900px;
  max-height: 550px;
  overflow: hidden;
  margin-bottom: 15px;
}

#page-footer {
  margin: 15px 0 0;
  padding: 20px 0 50px;
  background: grey;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}

#products, #product-detail {
  margin-top: 10px;
  max-width: 1320px;

  .pull-left, .pull-right {
    display: none;
  }

  .pull-left.price {
    margin-right: 5px;
  }

  .pull-right.price {
    margin-left: 5px;
  }
}

#return-menu {
  margin-top: 10px;
}

#product-detail .thumbnail {
  max-width: 600px;
}

#product-images {
  max-width: 660px;
}

.price-top-pull-left {
  .top .pull-left.price {
    display: block !important;
  }
}

.price-top-pull-right {
  .top .pull-right.price {
    display: block !important;
  }
}

.price-bottom-pull-left {
  .bottom .pull-left.price {
    display: block !important;
  }
}

.price-bottom-pull-right {
  .bottom .pull-right.price {
    display: block !important;
  }
}

.add-to-cart-top-pull-left {
  .top .pull-left.add-to-cart,
  .top .pull-left.remove-from-cart{
    display: block !important;
  }
}

.add-to-cart-top-pull-right {
  .top .pull-right.add-to-cart,
  .top .pull-right.remove-from-cart{
    display: block !important;
  }
}

.add-to-cart-bottom-pull-left {
  .bottom .pull-left.add-to-cart,
  .bottom .pull-left.remove-from-cart{
    display: block !important;
  }
}

.add-to-cart-bottom-pull-right {
  .bottom .pull-right.add-to-cart,
  .bottom .pull-right.remove-from-cart{
    display: block !important;
  }
}

#user-interface {

  .thumbnail {
    padding: 0;

    img {
      width: 100%;
    }
  }

  .thumbnail .caption-full {
    padding: 9px;
    color: #333;
  }
}

footer {
  margin: 50px 0;
}

.caption .description {}

#category-menu {
  margin: 15px 0 0;
}

#category-menu .nav li {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

#shopping-cart-page {
  max-width: 1300px;
}

#page {
  margin-top: 10px;
}