#main-menu {
    margin-top: 30px;

    li {
        a {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


#home-side-menu {
    li {
        @extend .list-group-item;

        a {
            cursor: pointer;
        }
    }
}
