.modal-frame {
  #confirmation-container,
  #notification-container {
    height: auto;
    width: 100%;
    padding: 20px;
    margin: 15% 0;
    position: relative;
    box-sizing: border-box;
    z-index: 200;
    background: white;
    box-shadow: 1px 5px 10px grey;
    color: black;
  }
}
