#app-frame.experiment {
    #top-bar {
        .cart-icon {
            .icon-basket {
                font-size: 40px;
                cursor: pointer;
                display: block;

                &:hover {
                    color: blue;
                }
            }

            label.basket-link {
                cursor: pointer;
                font-size: 14px;

                &:hover {
                    color: blue;
                }
            }
        }

        #logo {
            padding-top: 15px;
        }
    }
}
