<%
   @pagetitle = 'Welcome to the E-Commerce Experiment System: Administration'
   @page_class = 'home'
%>

<%= render partial: 'layouts/messages' %>

<div class="jumbotron">
  <header id="page-title">
    <h1 class="text-center">E-Commerce Testing Platform</h1>
  </header>
  <section id="content" class="center-block text-center">
    <p class="text-center">Please select an option from the menu below</p>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Products <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "View Categories", admin_categories_path %></li>
        <li><%= link_to "Add New Category", new_admin_category_path %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to "View Products", admin_products_path %></li>
        <li><%= link_to "View Products By Category", admin_home_products_path %></li>
        <li><%= link_to "Add New Product", new_admin_product_path %></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Experiments <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "Setup New Experiment", new_admin_experiment_path %></li>
        <li><%= link_to "View List of Experiments", admin_experiments_path %></li>
        <li class="divider"></li>
        <li><%= link_to "View Results", admin_experiment_results_home_path %></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        User Management <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Add New User</a></li>
        <li><a href="#">View Existing Users</a></li>
        <li class="divider"></li>
      </ul>
    </div>
    <br/><br/>
    <%= link_to "Log Out", destroy_admin_session_path, method: :delete, class: "btn btn-large btn-primary" %>
  </section>
</div>