<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "ECES", admin_root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", admin_root_path %></li>
        <li class="dropdown">
          <%= link_to raw("Products <span class='caret'></span>"), "#", class: "dropdown-toggle", data: {toggle: "dropdown"} %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "View Categories", admin_categories_path %></li>
            <li><%= link_to "Add New Category", new_admin_category_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "View Products", admin_products_path %></li>
            <li><%= link_to "View Products By Category", admin_home_products_path %></li>
            <li><%= link_to "Add New Product", new_admin_product_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to raw("Experiments <span class='caret'></span>"), "#", class: "dropdown-toggle", data: {toggle: "dropdown"} %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Setup New Experiment", new_admin_experiment_path %></li>
            <li><%= link_to "View List of Experiments", admin_experiments_path %></li>
            <li class="divider"></li>
            <li><%= link_to "View Results", admin_experiment_results_home_path %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log Out", destroy_admin_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>