<p id="confirm-modal-message">
    {{{message}}}
</p>
<button type="button" class="btn btn-large btn-success btn-yes">Confirm</button>
<button type="button" class="btn btn-large btn-danger btn-no">Cancel</button>