<!DOCTYPE html>
<html>
<head>
  <title>E-Commerce Experiment System - <%= @pagetitle %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
  <body id="admin-interface" class="<%= @page_class %>">

  <%= render partial: "admin/shared/topmenu" unless controller_name == 'static_pages' || controller_name == 'sessions' || controller_name == 'registrations' || controller_name == 'passwords' %>

  <div class="container-fluid">
    <%= yield %>
  </div>

  <%= debug(params) if Rails.env.development? %>

  <%= javascript_include_tag 'admin' %>
  </body>
</html>