<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= stylesheet_link_tag 'user', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="interface-container" id="user-interface">
    <!-- App Frame -->
    <div class="container-fluid" id="app-frame"></div>
    <!-- Notification Modal -->
    <div class="container-fluid modal-frame" id="notification-modal"></div>
    <!-- Confirmation Modal -->
    <div class="container-fluid modal-frame" id="confirmation-modal"></div>
    <%= yield %>
    <%= javascript_include_tag 'user' %>
  </body>
</html>